/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Aboutus/Aboutus.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

.teamcard {
  height: auto;
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.teamcard img {
  border-radius: 5px;
  border: 1px solid black;
}
.teammemberimage:hover {
  transform: translateY(-0.25rem) scale(1.1);
}




@media (max-width: 1023px) {
  /* About us page */
  .howcanhelpyou .sectionheading{
    text-align: center;
  }
  
  .our-team {
    height: auto;
    width: 97.95vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
  }
  .team {
    display: none;
  }
  .teamcarousel {
    display: contents;
  }

  .teamcard1 {
    height: 65vh;
    width: 80vw;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/TeamCarousel/TeamCarousel.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.teamcard1 {
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamcard1 img {
  border-radius: 5px;
  border: 1px solid black;  
}
.name1{
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
}
.perspective-1000 {
  perspective: 1000px;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel-item {
  backface-visibility: hidden;
}
@media (max-width: 320px) {
    .teamcard1{
        height: auto;
        padding: 5px;
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/MyComponent/MyComponent.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 1023px) {
    /* About us page */
    .slide {
        height: 40vh;
        width: 100vw;
        flex-wrap: wrap;
        font-size: larger;
        overflow-y: auto;
        gap: 20px;
      }
      .sep {
        display: none;
      }
      
    
}

