.teamcard1 {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamcard1 img {
  border-radius: 5px;
  border: 1px solid black;  
}
.name1{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.perspective-1000 {
  perspective: 1000px;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel-item {
  backface-visibility: hidden;
}
@media (max-width: 320px) {
    .teamcard1{
        height: auto;
        padding: 5px;
    }
}
