@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:normal;
}


.background{
  background-color: #ebe9e9;
}
.section-1 .text h2{
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.759); */
  text-shadow: 2px 2px whitesmoke;
}
.section-1 .text p{
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.759); */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.496);
}




/* page.js css */
.service {
  display: flex;
  width: 30vw;
  gap: 10px;
  height: max-content;
  /* background-color: #008080; */
  background-color: white;
  color: black;
  border-radius: 12px;
  border: 2px solid whitesmoke;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  padding: 15px;
}
.service:hover{
  transform: translateY(-0.25rem) scale(1.02);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid whitesmoke;
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 18px;
  background-color: white;
  color: black;
  text-align: center;
  flex-wrap: wrap;
  overflow: auto;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.card:hover{
transform: translateY(-0.25rem) scale(1.02);
}
.card h3,
.service-desc h1 {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}
.pillars {
  flex-wrap: wrap;
  overflow: auto;
}
@media (max-width: 1023px) {
  .Features {
    flex-wrap: wrap;
    flex-direction: row;
    height: auto2;
    width: 97.95vw;
    gap: 18px;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .box1,
  .box2 {
    flex-direction: column;
  }

  .service {
    width: 90vw;
    height: fit-content;
    display: flex;
    text-align: center;
    /* font-size: medium; */
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 8px;
  }

  .section-3 {
    width: 97.95vw;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    gap: 2px;
  }
 
  .pillars {
    height: 42vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-bottom: 20px;
  }
   .card{
    height: fit-content;
   }
}
  
