.expertisecard {
    /* background-color: teal; */
    height: 210px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media (max-width: 1023px) {
    
    /* Expertise page */
    .expertise {
        /* width: 97.95vw; */
        align-items: center;
        justify-content: center;
    }
}