/* contact page */
.section-2{
    height: 90vh;
    padding: 5px;
}
.contact-form {
    height: 92vh;
    width: 40vw;
}

.contact-form input {
    width: 22vw;
    height: 5vh;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
}

#Message {
    width: 22vw;
    height: 18vh;
    background-color: white;
    color: black;
    padding: 5px;

}

#Message::placeholder {
    color: black;
}

.contact-form input::placeholder {
    color: black;
}

.submit input {
    width: 12vw;
    height: 6vh;
    padding: 1px;
    border-radius: 12px;
    background-color: rgb(202, 173, 67);
    font-weight: bold;
}

.error {
    color: red;
    font-size: x-small;
}



@media (max-width: 1023px) {
    
    /* contact page */
    .section-2 {
        width: 97.95vw;
        height: fit-content;
    }

    .contact-form {
        height: 95%;
        width: 85vw;
        text-align: center;
    }

    .contact-form input {
        width: 70vw;
        flex-wrap: wrap;
        font-size: small;
    }

    #Message {
        height: 25vh;
        width: 70vw;
        font-size: small;
    }

    .contact-form .submit input {
        width: 41vw;
        padding: 1px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
}

@media (width: 1024px) {    
    .section-2 {
        width: 97.95vw;
        height: fit-content;
    }

    .contact-form {
        height: 95%;
        width: 95%;
        text-align: center;
    }

    .contact-form input {
        width: 80%;
        flex-wrap: wrap;
        font-size: small;
    }

    #Message {
        height: 25vh;
        width: 80%;
        font-size: small;
    }

    .contact-form .submit input {
        width: 15vw;
        height: 4vh;
        padding: 1px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }

}
