/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Expertise/Expertise.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.expertisecard {
    /* background-color: teal; */
    background-color: White;
    height: 210px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
    gap: 45px;
    border: 3px solid whitesmoke;
    border-radius: 12px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.expertisecard:hover{
    transform: translateY(-0.25rem) scale(1.02);
}

@media (max-width: 1023px) {
    
    /* Expertise page */
    .expertise {
        /* width: 97.95vw; */
        align-items: center;
        justify-content: center;
    }

    .cards {
        width: 80vw;
        flex-wrap: wrap;
        overflow: auto;
    }
}
