/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Expertise/Expertise.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.expertisecard {
    /* background-color: teal; */
    height: 210px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}
@media (max-width: 1023px) {
    
    /* Expertise page */
    .expertise {
        /* width: 97.95vw; */
        align-items: center;
        justify-content: center;
    }
    .expertise .sectionheading{
        font-size: 24px;
    }
}
