.howcanhelpyou {
  flex-wrap: wrap;
}

.teamcard{
  height: auto;
  width: 30vw;
  background-color: #1b3462;
  border: 2.5px solid rgb(255, 197, 197);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}
.teamcard img{
  border: 4px solid white;
}
.name h3{
  color: wheat;
  font-weight: bolder;
}
.name h4{
  color:wheat ;
  font-weight: bold;
}
.name p {
  font-size: 15px;
  color: whitesmoke;
}
.txt p, li{
  font-size: 18px;
}



@media (max-width: 1023px) {
  /* About us page */
  .experience {
    /* height: 45vh; */
    width: 97.95vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide {
    height: 40vh;
    width: 97.95vw;
    flex-wrap: wrap;
    font-size: larger;
    overflow-y: auto;
    gap: 20px;
  }

  .sep {
    display: none;
  }

  .newbox {
    width: 97.95vw;
    flex-wrap: wrap;
    font-size: medium;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .howcanhelpyou {
    font-size: small;
    text-align: center;
  }

  .txt {
    gap: 10px;
  }

  .our-team {
    height: auto;
    width: 97.95vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
  }
  .team{
    display:none;
  }
  .teamcarousel{
    display:contents;
  }

  .teamcard1 {
    height: 65vh;
    width: 80vw;
  }
}
