
.teamcard {
  height: auto;
  width: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.teamcard img {
  border-radius: 5px;
  border: 1px solid black;
}
.teammemberimage:hover {
  transform: translateY(-0.25rem) scale(1.1);
}




@media (max-width: 1023px) {
  /* About us page */
  .howcanhelpyou .sectionheading{
    text-align: center;
  }
  
  .our-team {
    height: auto;
    width: 97.95vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
  }
  .team {
    display: none;
  }
  .teamcarousel {
    display: contents;
  }

  .teamcard1 {
    height: 65vh;
    width: 80vw;
  }
}
