/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/Contactus/Contactus.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* contact page */
.contact-form  input {
    height: 5vh;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 60px;
    padding: 5px;
    box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.5);
}
.contact-form .name input, .contactdetails input{
    width: 22vw;
    border-radius: 50px;
}
.contact-form .subject input{
    width: 45vw;
    border-radius: 60px;
}

.contact-form input::-moz-placeholder{
    text-align: center;
    color: black;
}

.contact-form input::placeholder{
    text-align: center;
    color: black;
}
#Message {
    width: 45vw;
    height: 18vh;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.5);
}

#Message::-moz-placeholder {
    color: black;
}

#Message::placeholder {
    color: black;
}

.submit input {
    width: 12vw;
    height: 6vh;
    padding: 1px;
    border-radius: 12px;
    background-color: white;
    color: blue;
    font-weight: bold;
}
.submit input:hover {
    transform: translateY(-0.25rem) scale(1.01);
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;

}

.error {
    color: red;
    font-size: small;
}



@media (max-width: 1023px) {
    
    /* contact page */

    .contact-form input {
        width: 95%;
        flex-wrap: wrap;
        font-size: small;
    }

    #Message {
        height: 25vh;
        width: 70vw;
        font-size: small;
    }

    .contact-form .submit input {
        width: 41vw;
        padding: 1px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
}

@media (width: 1024px) {    

    .contact-form input {
        width: 95%;
        flex-wrap: wrap;
        font-size: small;
    }

    #Message {
        height: 25vh;
        width: 80%;
        font-size: small;
    }

    .contact-form .submit input {
        width: 15vw;
        height: 4vh;
        padding: 1px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }

}

